:root {
  --background-primary: #f6f7f6;
  --background-secondary: #dadada;

  --foreground-primary: #191919;
  --foreground-secondary: #202020;

  --line: #5d5d5d;

  --yellow: #eee663;

  --header-height: 60px;
  --desktop-query: 425px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
input,
button {
  color: var(--foreground-primary);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

button {
  cursor: pointer;
}

body {
  background: var(--background-secondary);
  transition: 100ms ease-in;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &.overflow_hidden {
    overflow: hidden;
  }
}

// Futura Bold
@font-face {
  font-family: "Futura-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/Futura-Bold.woff2") format("woff2");
}

// Lato
@font-face {
  font-family: "Lato";
  font-weight: 100;
  font-style: normal;
  src: url("/fonts/LatoLatin-Hairline.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/LatoLatin-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/LatoLatin-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/LatoLatin-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/LatoLatin-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/LatoLatin-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/LatoLatin-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/LatoLatin-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/LatoLatin-Black.woff2") format("woff2");
}

// Roboto Slab
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
